<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 비밀번호 찾기</title>
</head>
<body>
   <h1> 회원 비밀번호 찾기</h1>
   <div th:replace="(~{/fragments/layout.html :: fragment-body-menu})"></div>

    <form method="post">
        <div>
            <input type="text" name="userId" placeholder="아이디(이메일)을 입력" required/>
        </div>
        <div>
            <input type="text" name="userName" placeholder="이름 입력" required/>
        </div>
        <div>
            <button type="submit"> 비밀번호 초기화 요청 </button>
        </div>
    </form>

</body>
</html>