<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerobase.fastlms.fastlms.course.mapper.CourseMapper">

    <sql id="SelectListWhere">
        <if test="searchType != null and searchValue != null">
            <choose>
                <when test="searchType == 'userId'">
                    and user_id like concat('%', #{searchValue}, '%')
                </when>
                <when test="searchType == 'userName'">
                    and user_name like concat('%', #{searchValue}, '%')
                </when>
                <when test="searchType == 'phone'">
                    and phone like concat('%', #{searchValue}, '%')
                </when>
                <otherwise>
                    and
                    (
                    user_id like concat('%', #{searchValue}, '%')
                    or
                    user_name like concat('%', #{searchValue}, '%')
                    or
                    phone like concat('%', #{searchValue}, '%')
                    )
                </otherwise>

            </choose>
        </if>
    </sql>

    <select id="selectListCount"  resultType="long">

        select count(*)
        from course
        where  1 = 1
        <include refid="SelectListWhere"/>
    </select>

    <select id="selectList" resultType="com.zerobase.fastlms.fastlms.course.dto.CourseDto">
        select *
        from course
        where  1 = 1
        <include refid="SelectListWhere"/>
        order by reg_dt desc
        limit ${pageStart} , ${pageEnd}
    </select>
</mapper>