<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerobase.fastlms.fastlms.admin.mapper.MemberMapper">
    <select id="selectList" resultType="com.zerobase.fastlms.fastlms.admin.dto.MemberDto">
        select * from member
    </select>
</mapper>